.container-fluid {
    background: rgb(238, 174, 54);
}

.container {
    background: red;
    height: 400px;
}

.row {
    background: green;
    height: 300px;
}

.col {
    background: white;
    height: 150px;
}